paths:
	"": Homepage:default
	"pagename":
		destination: Page:default
		internalId: one
		filters:
			PageIdFilter:
				- id

	"page-name":
		destination: Page:default
		internalId: two

	"page-1name":
		destination: Page:one
		filters:
			PageIdFilter: id

	"en/page-name":
		destination: Page:two