paths:
	"": Homepage:default

	"old-page":
		destination: OldPage:one
		redirectTo: page-name

	"pagename": Page:one
	"page-name": Page:two

	"old-no-previous-framework-page":
		oneWay: page-1name

	"page-1name": Page:three
	"en/page-name": Page:four

	"page-with-internal-params":
		destination: Page:five
		internalParameters:
			a: c
			b: d