paths:
	"": Homepage:default
	"pagename": Page:one
	"page-name": Page:two
	"page-1name": Page:three
	"en/page-name": Page:four

	"page-with-internal-params":
		destination: Page:five
		internalParameters:
			a: c
			b: d

	"old-page":
		destination: OldPage:one
		redirectTo: page-name